.education_experience {
  display: flex;
  flex-direction: column;

  .subsection-title{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 16px;
  }
  p{
    font-size: 18px;
    line-height: 22px;
  }
}
.subsection {
  margin: 20px;
  width: 90vw;
  padding: 0px 20px;
}

.education-listing{
  display: flex;
  align-items: center;
}
.experience-description p{
  margin: 6px;
}

.bottom_border {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--accentColor);
}
.logo-v2 {
  margin: 10px;
  transition: all 0.2s ease-in-out;
  width: 80px;
  height: auto;
}

.listing-title{
  font-size: 20px;
  span{
    font-weight: bold;
  }
}

@media (max-width: 500px) {
  .education_experience {
    flex-direction: column;
  }
  .subsection {
    width: 98vw;
  }
  .left_border {
    border: none;
  }
  .bottom_border {
    padding-bottom: 20px;
    border-bottom: 1px solid var(--accentColor);
  }
}
