header{
  background-color: blue;
  text-align: center;
  position: fixed;
  height: 60px;
  z-index: 999;
  width: 100%;
  transition: all 400ms;
}

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 1px solid rgba(white, .75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: $main-color-dark;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  // transition: transform 400ms ease-in-out;
  transition: all 400ms;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

// nav a:hover {
//   color: $accent-color;
// }

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.light-nav {
  background-color: $main-color-light;
  color: $main-color-dark;
  nav{
    background-color: $main-color-light;
    a{
      color: $main-color-dark;
    }
  }
  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    background: $main-color-dark;
  }
}



// nav {
//   position: fixed;
//   display: flex;
//   width: 100%;
//   height: 60px;
//   background-color: $main-color-light;
//   color: $main-color-dark;
//   align-items: center;
//   justify-content: space-between;
//   z-index: 99;
//   transition: all 500ms;
// }
// .nav-link {
//   padding: 15px;
//   font-size: 16px;
//   transition: background 0.2s;
// }
// .nav-link:hover {
//   background-color: $accent-color;
//   color: $main-color-light;
// }

.personalLogo {
  width: 60px;
  height: auto;
  fill: black;
  stroke: black;
}
.dark-logo {
  animation: fill 1s ease forwards;
}
.light-logo {
  animation: reverse-fill 1.5s ease forwards;
}
.dark-nav {
  background-color: $main-color-dark;
  color: $main-color-light;
}

// .navbar-logo {
//   margin-left: 4vw;
// }
// .navbar-links {
//   margin-right: 4vw;
// }

// .nav_line {
//   border-left: 1px solid $main-color-light;
// }

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    align-items: center;
  }

  .logo {
    grid-column: 2 / 3;
  }
  
  nav {
    // all: unset; /* this causes issues with Edge, since it's unsupported */
    
    /* the following lines are not from my video, but add Edge support */
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;
    /* end Edge support stuff */
    
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    // transition: all 400ms;
  }
  
  nav ul {
    display: flex;
  }
  
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  
  nav a {
    opacity: 1;
    position: relative;
    &:hover{
      cursor: pointer;
    }
  }
  
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: $accent-color;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  
  nav a:hover::before {
    transform: scale(1,1);
  }
  .light-nav{
    nav{
      background-color: transparent;
    }
  }
}