:root {
  --color1: #191b1b;
  --color2: #d8d6ca;
  --color3: #d3d2ce;
  --color4: #4a4d49;
  --color5: #30332f;
}

.App{
  padding: 0;
  width: 100%;
}

/*************************** Navbar ****************************/
.myNav{
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color1);
  /* scroll-snap-align: start; */
  position: fixed;
  z-index: 999;
  width: 100%;
}

.personalLogo{
  width: 40px;
  height: auto;
}

.nav-link{
  color: rgb(131, 131, 131) !important;
  font-weight: 100;
  cursor: pointer !important;
}

.active {
  font-weight: 700;
  border-bottom: 2px solid var(--color2) !important;
  color: var(--color2) !important;
}

/*************************** Logos ****************************/
.logos{
  /* display: flex; */
  /* flex-wrap: wrap; */
}
.logo{
  margin: 10px;
  transition: all .2s ease-in-out;
  width: 70px;
  height: auto;
  filter: grayscale(100%);
}

.logo:hover { 
  transform: scale(1.1);
  filter: grayscale(0%);
  z-index: 998;
}

/*************************** Sections ****************************/
section{
  padding-top:8vh;
  padding-bottom:8vh;
  width: 100%;
}

#aboutme {
  background: var(--color3);
}
#projects {
  height: fit-content !important;
  min-height: 100vh;
  min-height: fit-content(20em);
  background-color:  var(--color4);
  color: white;
}
#education{
  height: fit-content !important;
  min-height: 100vh;
  background-color: var(--color3);
}
#experience{
  height: fit-content !important;
  min-height: 100vh;
  background-color:  var(--color4);
  color: white;
}

/*************************** About me ****************************/
.personalName{
  display: inline;
  color: var(--color4);
  transition: all .2s ease-in-out;
}
.personalName:hover{
  color: #000000;
}

.aboutme-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10vh 10vw;
}

/*************************** Projects ****************************/

.project{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-images{
  display: flex;
  flex-wrap: wrap;
}

.square{
  margin: 2vw;
  width: 20vw;
  height: 20vw;
}
.project-description{
  width: 70%;
}
.project_buttons{
  padding: 5px;
  width: fit-content;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.561);
  margin-left: 5vw;
}
.btn{
  width: 70px;
  margin: 4px;
}
.selectplease{
  display: inline;
}

.tech-used{
  z-index: 997;
}

.logoProjects{
  margin: 10px;
  width: 70px;
  height: auto;
}

.express-logo{
  margin: 10px;
  width: 150px;
  height: auto;
}

.hidden{
  display: none;
}