:root {
  --color1: #191b1b;
  --color2: #d8d6ca;
  --color3: #d3d2ce;
  --color4: #4a4d49;
  --color5: #30332f;
}

.myNav{
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color1);
  /* scroll-snap-align: start; */
  position: fixed;
  z-index: 999;
  width: 100%;
}
.personalName{
  display: inline;
  color: var(--color4);
  transition: all .2s ease-in-out;
}
.personalName:hover{
  color: #000000;
}
.personalLogo{
  width: 40px;
  height: auto;
}
.logos{
  /* display: flex; */
  /* flex-wrap: wrap; */
}
.logo{
  margin: 10px;
  transition: all .2s ease-in-out;
  width: 70px;
  height: auto;
  filter: grayscale(100%);
}

.logo:hover { 
  transform: scale(1.1);
  filter: grayscale(0%);
}

.App{
  padding: 0;
  width: 100%;
}

section{
  padding-top:8vh;
  padding-bottom:8vh;
  height: 100vh;
  width: 100%;
}

#aboutme {
  background: var(--color3);
}
#projects {
  background-color:  var(--color4);
  color: white;
}
#education{
  background-color: var(--color3);
}
#experience{
  background-color:  var(--color4);
  color: white;
}

.aboutme-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project{
  /* background-color: blueviolet; */
  height: 100%;
  /* width: 100vw; */
}
.nav-link{
  color: rgb(131, 131, 131) !important;
  font-weight: 100;
  cursor: pointer !important;
}
.active {
  font-weight: 700;
  border-bottom: 2px solid var(--color2) !important;
  color: var(--color2) !important;
}

.slider{
  position: absolute !important; 
  width: 100%; 
  height: 100%;
}
/* ABOUT ME */
.aboutme-content{ 
  margin: 10vh 10vw;
}